/* Normalice and fonts */

@import url('https://fonts.cdnfonts.com/css/games');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 100%;
    background-image: url(assets/inicio-assets/bg-inicio.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

   /* Var for styles */

:root {
    --main-color: #0B5CE1;
    --second-color: #16CDB5;
    --third-color: #FFFFFF;
    --tittle-color-and-format: #0B5CE1;
    --bg-container: rgba(17, 16, 16, 0.792);  
    
}

h1{font-size: 5rem !important; 
    font-family: 'Games', sans-serif;
    color: var(--main-color);
}
h2{font-size: 5.5em; 
    font-family: 'Games', sans-serif;

}
h3{font-size: 4.5em; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color);
}
p{
    font-size: 1.5rem; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color); 
    margin-bottom: 0px !important;
}


/*Style here ( and please comment code for style sections*/

.container{
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin: 1.5rem;
   background-color: var(--bg-container);
   border-radius: 1.25rem;
   text-align: center;
   border: 10px solid transparent;
   border-image: linear-gradient(10deg, #16CDB5, #0B5CE1, #16CDB5, #0B5CE1) 1; 
}

/*neon effect*/
#neonText {
    text-shadow:    
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 7px #0B5CE1,
      0 0 10px #0B5CE1,
      0 0 12px #0B5CE1,
      0 0 30px #0B5CE1,
      0 0 45px #0B5CE1; 
}

#neonText-2{
    text-shadow:
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 7px #16CDB5,
      0 0 10px #16CDB5,
      0 0 12px #16CDB5,
      0 0 30px #16CDB5,
      0 0 45px #16CDB5;
    margin-bottom: 4.5rem;
}

/* helmet+ring neon */

 #helmet > img {
    max-width: 60%;
    max-height: 90%;
   }

#lightRing > img {
    max-width: 90%;
    max-height: 70%;
    margin-top: -5rem;
    
}

#helmet {
    z-index: 10;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    animation: floating 1.5s forwards infinite linear  alternate-reverse; 
}

#lightRing {
    z-index: 5 ;
}

/*animation helmet*/
@keyframes floating {
    from {
        transform: translateY(0px) ;
    }
    to {
        transform: translateY(-40px);
    }
} */













