/* Normalice and fonts */
@import url('https://fonts.cdnfonts.com/css/games');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/avatar-cards-assets/bg-cards.jpg);
    background-size: cover;
}
   /* Var for styles */

:root {
    --main-color: #0B5CE1;
    --second-color: #16CDB5;
    --third-color: #FFFFFF;
    --tittle-color-and-format: #0B5CE1;
    --bg-container: rgba(17, 16, 16, 0.792);  
}



h2{font-size: 3rem !important; 
    font-family: 'Games', sans-serif;
    color: var(--main-color);
    text-align: center;

}


p{
    font-size: 1.5rem; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color); 
    margin-bottom: 0px !important;
    text-align: center;
}


/*Style here ( and please comment code for style sections*/

.container {
    margin: 4rem auto;

}
/* NEON TEXT */

.neonText {
    text-shadow:    
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 7px #0B5CE1,
      0 0 10px #0B5CE1,
      0 0 12px #0B5CE1,
      0 0 30px #0B5CE1,
      0 0 45px #0B5CE1; 
}


/* --------------------------botón */
.play {
    text-align: center;
    margin-top: -60px;
}
.play > button {
    --glow-color: rgba(11, 93, 225, 0.696);
    --glow-spread-color:#1c62d48e;
    --enhanced-glow-color: #5c8ddc;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: #0B5CE1;
    font-size: 10px;
    background-color: var(--btn-color);
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    border:none;
    
   }

button p{
    color: #0B5CE1;
}
.play > button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(1em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.play > button:hover {
    color: var(--btn-color);
    background-color: #16CDB5;
    box-shadow: 0 0 1em .25em var(--glow-color),0 0 4em 2em var(--glow-spread-color),inset 0 0 .75em .25em var(--glow-color);
}

.play > button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),0 0 2.5em 2em var(--glow-spread-color), inset 0 0 .5em .25em var(--glow-color);
}


/* ---------------carousel */
.figure{
    width: 40vh;
    height: 100px;
    transform: skew(-20deg);
    position: absolute;
    z-index: -1;
    border-radius: 15px;
    background: rgb(29,18,18);
    background: linear-gradient(180deg, rgba(29,18,18,1) 0%, rgba(36,23,23,0.8130602582830007) 35%, rgba(34,21,21,0.5525560566023284) 55%, rgba(29,18,18,0.19681375968356096) 95%);     

}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 210px;
    position: relative;
}


.helmet > img {
    max-width: 20vh;
    margin: -2.5rem 0.9375rem 0 -3.125rem;
}


.contenedor-2{
    width: 100%;
    display: flex;
    padding: 0.8rem 0 0 0;
    z-index: 10;
    animation: floating 1.5s forwards infinite linear  alternate-reverse; 
    
}


@keyframes floating {
    from {
        transform: translateY(0px) ;
    }
    to {
        transform: translateY(-15px);
    }
} 

.text > p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.text > input {
    width: 23vh;
    height: 5vh;
    background-color: transparent;
    border: transparent;
    font-size: 0.5rem; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color);
}


/* -------Light Ring */

.lightRing > img {
    width: auto;
    height: auto;
    max-width: 500px;
}

.caja {
    margin-top: -150px;
    margin-bottom: 100px;
    z-index: -1;
}

.lightRing {
    text-align: center;  
}

/* Card input style */
#namePlayer1,#namePlayer2,#namePlayer3,#namePlayer4,#namePlayer5{
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}
#text1{
    color:#0B5CE1;
}

/* Responsive */
@media(max-width: 400px){
    .lightRing > img {
        width: 250px;
        height: auto;
        max-width: 500px;
    }
    .container {
        margin: auto;
        margin-top: 0;
        padding-top: 2rem;
    }
    .carousel-inner{
        margin-top: -4rem;
    }
    .caja {
        margin-top: -6rem;
        margin-bottom: 100px;
    }
    .play {
        text-align: center;
        margin-top: -75px;
    }
}
@media(max-width: 800px ){
    .lightRing > img {
        width: 300px;
        height: auto;
        max-width: 500px;
    }
    .carousel-inner{
        margin-top: -4rem;
    }
    .helmet > img {
        margin: -1rem 0.7rem 0 -3.125rem;
    }
    .text > input {
        font-size: 10px!important;
        width: 80px;
    }
}