/* Normalice and fonts */

@import url('https://fonts.cdnfonts.com/css/games');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(assets/inicio\ assets/bg-inicio.jpg);
    background-color: rgba(97, 31, 31, 0.829);
    background-size: cover;
    background-repeat: no-repeat;
}
   /* Var for styles */
:root {
    --main-color: #0B5CE1;
    --second-color: #16CDB5;
    --third-color: #FFFFFF;
    --tittle-color-and-format: #0B5CE1;
    --bg-container: rgba(17, 16, 16, 0.792);  
}
h1{font-size: 5rem !important; 
    font-family: 'Games', sans-serif;
    color: var(--main-color);
}
h2{font-size: 5.5em; 
    font-family: 'Games', sans-serif;
}
h3{font-size: 4.5em; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color);
}
p{
    font-size: 1.5rem; 
    font-family: 'Zen Dots', cursive;
    color: var(--third-color); 
    margin-bottom: 0px !important;
}

/*Style here ( and please comment code for style sections*/

.container{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(/assets/end-game-credits-assets/wallpapersden.com_halo-reach-4k_4096x2307.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;

}
.titulo{
    text-align: center;
    padding-top: 4rem;

}
.space{
    margin-left: 8rem;
    margin-top: 4rem;
    text-align: center;
  color:#FFFFFF;
 

}
.imagen{

    height: 30rem;
    margin-bottom: 30rem;
    position: absolute;
    top: 15%;
}
.btn{
    text-align: center;
    margin-top: 35%;
    margin-left: 45%;
    color: var(--second-color);
    background: none;
    font-size: 1.5rem;
    border-color: var(--second-color);
    border-radius: 5%;
    
}